{{#each bookmark}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p> Description {{description}} </p>
    
    <a href="/bookmark/{{id}}" class="ui icon button violet">
      <i class="icon folder open"></i>
    </a>
    
    

    <a href="/dashboard/removeBookmark/{{id}}" class=" delbookmark ui icon button red">
      <i class="icon trash"></i>
    </a>
    <div class="imgholder clearfix">
      <img src = "{{img}}">
    </div>
  </section>
{{/each}}